mixin news-card(data)
  a.news-card(href=data.href class=data.modifiers)
    .news-card-wrapper
      .news-card-image(style=data.image && 'background-image: url(#{data.image});')
      .news-card-content
        .news-card-category: span= data.category
        .news-card-title= data.title
        if data.counters
          .news-card-counters
            .news-card-counter.facebook-counter
              span.icon.icon-facebook
              span.counter-value= data.counters.facebook
            .news-card-counter.twitter-counter
              span.icon.icon-twitter
              span.counter-value= data.counters.twitter
