mixin news-card(opts)
  a.news-card(href=opts.href class=opts.modifiers)
    if opts.image
      .news-card-image(style='background-image: url(#{opts.image});')
      .news-card-content
        .news-card-category= opts.category
        .news-card-title= opts.title
    else
      .news-card-content
        .news-card-category= opts.category
        .news-card-title= opts.title
    .social-counters
      .facebook-counter
        span.icon.icon-facebook
        span.counter-value= opts.counters.facebook
      .twitter-counter
        span.icon.icon-twitter
        span.counter-value= opts.counters.twitter
