include ../../modules/button/button
include ../../modules/block-aside-links/block-aside-links
include ../../modules/intro-text/intro-text
include ../../components/buttons/buttons

mixin sections-panel(opts)
  .sections-panel
    if opts.nav
      .sections-panel-nav
        if opts.nav.items.length !== 0
          ul.sections-panel-nav-items
            each item in opts.nav.items
              li.sections-panel-nav-item
                a(href=item.href data-subnav-section=item.slug)= item.text
        if opts.nav.more
          - more = JSON.parse(JSON.stringify(opts.nav.more)) // clone the data object
          - more.modifiers = ["action", "white", "small"]
          +button(more)
      .sections-panel-subnav
        .sections-panel-subnav-default
          +block-aside-links(opts.default.links)
          +buttons(opts.default.buttons)
        each item in opts.nav.items
          .sections-panel-subnav-section(id="subnav-#{item.slug}" data-nav-item=item.slug)
            if item.subnav && item.subnav.items.length !== 0
              if item.subnav.text
                +intro-text({text: item.subnav.text})
              ul.sections-panel-subnav-items
                each subitem in item.subnav.items
                  li.sections-panel-subnav-item
                    a(href=subitem.href)
                      .sections-panel-subnav-item-title= subitem.title
                      .sections-panel-subnav-item-text= subitem.text
    .sections-panel-content
      .sections-panel-content-wrapper
