include ../../modules/button/button
include ../../modules/block-aside-links/block-aside-links
include ../../modules/intro-text/intro-text
include ../../components/buttons/buttons
include ../../components/links/links

mixin sections-panel(data)
  - has_current_item = false
  - has_content = typeof data.content !== 'undefined'
  .sections-panel(class=(has_content ? "has-content" : ""))
    if data.nav
      .sections-panel-nav(class=(has_content ? "closed" : ""))
        if data.nav.items.length !== 0
          ul.sections-panel-nav-items
            each item in data.nav.items
              - if (item.current === true) {has_current_item = true;}
              li.sections-panel-nav-item
                a(href=item.href data-subnav-section=item.slug class=(item.current ? "current" : ""))= item.text
        if data.nav.more
          - more = JSON.parse(JSON.stringify(data.nav.more)) // clone the data object
          - more.modifiers = ["action", "white", "small", "sections-panel-nav-more"]
          +button(more)
      .sections-panel-subnav(class=(has_current_item ? "has-current-item" : ""))
        .sections-panel-subnav-default
          +block-aside-links(data.default.links)
          +buttons(data.default.buttons)
        each item in data.nav.items
          .sections-panel-subnav-section(id="subnav-#{item.slug}" data-nav-item=item.slug class=(item.current ? "current" : ""))
            if item.subnav && item.subnav.items.length !== 0
              if item.subnav.text
                +intro-text({text: item.subnav.text})
              ul.sections-panel-subnav-items
                each subitem in item.subnav.items
                  li.sections-panel-subnav-item
                    a(href=subitem.href class=(subitem.current ? "current" : ""))
                      .sections-panel-subnav-item-title= subitem.title
                      .sections-panel-subnav-item-text= subitem.text
    .sections-panel-content
      .sections-panel-content-wrapper
        if has_content
          .sections-panel-content-intro= data.content.intro
          +block-aside-links(data.content.links)
          +buttons(data.content.buttons)
          +links(data.content.more_links)
