mixin header(opts)
  header
    .layout-wrapper.header-wrapper
      a#logo(href='/')
        span Logo
      .entry
        h1= opts.title
        nav.languages
          ul
            each lang in opts.languages
              li(class=" #{(lang.abbr === opts.active_language) ? 'active' : ''} ")
                a(href="#{lang.href}")= lang.abbr
    .right
      .icons.item
        if opts.search.visible
          span.fixed_display_searchbox.icon-search
        if opts.marker.visible
          span.fixed_display_around_me.icon-marker
      nav.item
        each item in opts.items
          a(href='#{item.href}')= item.text
      .menu.item
        if opts.participate.visible
          a.participate(href='#{opts.account.url}')
            span.front= opts.participate.front
            span.back= opts.participate.back
        if opts.participate.visible
          a.display-account(href='#{opts.account.url}')
            span.icon.icon-avatar
            span.label= opts.account.text
