include ../button/button
include ../heading/heading
include ../notice/notice
include ../search-field/search-field

mixin quick-access(data)
  .quick-access(class=data.modifiers id=data.id)
    if data.background
      if data.background.image
        .quick-access-background(style="background-image: url(#{data.background.image});")
      if data.background.video
        video.quick-access-video(autoplay=true, loop=true, muted='muted', poster=data.background.image)
          each source in data.background.video.sources
            source&attributes(source)
    .quick-access-wrapper.layout-wrapper
      .quick-access-search(role="search")
        +search-field(data.search)
      if data.heading
        +heading(data.heading)
      if data.items && data.items.length
        ul.quick-access-buttons
          each item in data.items
            li
              - var button = JSON.parse(JSON.stringify(item)) // clone the data object
              - button.modifiers = button.modifiers || []
              - if (button.modifiers.indexOf("primary") === -1) button.modifiers.push("secondary") // set default modifier
              +button(button)
      .quick-access-results
        ul
        - var button = JSON.parse(JSON.stringify(data.results.button)) // clone the data object
        - button.modifiers = ["action", "tertiary", "quick-access-results-more"] // overwrite the modifiers
        +button(button)
    button.quick-access-pause(type="button")  
    button.quick-access-close-search(type="button")
      if data.search.close_label
        .hidden-accessibly= data.search.close_label
    if data.notice
      +notice(data.notice)
    
