include ../../modules/button/button

mixin form-title(data)
  h2= data.text


mixin form-text(data)
  label.form-item-label(for=data.id)= data.label
  input.form-field(type=data.type name=data.name id=data.id placeholder=data.placeholder value=data.value required=data.required)

mixin form-email(data)
  +form-text(data)

mixin form-tel(data)
  +form-text(data)

mixin form-citoyenne(data)
  label.form-item-label(for=data.id)= data.label
  input.form-field(type="text" name=data.name id=data.id placeholder=data.placeholder value=data.value required=data.required)


mixin form-url(data)
  +form-text(data)


mixin form-hidden(data)
  input.form-field(type=data.type name=data.name id=data.id value=data.value)


mixin form-select(data)
  label.form-item-label(for=data.id)= data.label
  select.form-field(name=data.name id=data.id required=data.required)
    each item in data.items
      option(value=item.value)= item.text


mixin form-textarea(data)
  label.form-item-label(for=data.id)= data.label
  textarea.form-field(name=data.name id=data.id placeholder=data.placeholder maxlength=data.maxlength rows=data.rows required=data.required)
    = data.value


mixin form-checkbox(data)
  .form-item-label= data.label
  each item in data.items
    div: label
      input.form-field(type="hidden" name=data.name value="")
      input.form-field(type=data.type name=data.name value=item.value checked=item.checked)
      = item.text

mixin form-radio(data)
  +form-checkbox(data) // same code as the checkbox, except input type

mixin form-cgu(data)
  .form-item-label= data.label
  each item in data.items
    div: label
      input.form-field(type="hidden" name=data.name value="")
      input.form-field(type="checkbox" name=data.name value=item.value checked=item.checked)
      = item.text
      a(href=data.href target="_blank")
        = data.link


mixin form-matrix(data)
  - var type = data.multiple ? 'checkbox' : 'radio';
  table
    tr
      th: .form-item-label= data.label
      each option in data.options
        - var width = Math.round(70 / data.options.length);
        th.matrix-option(style="width: "+width+"%")= option.text
    each item in data.items
      tr.matrix-item(class=item.error ? "error" : null)
        th.matrix-item-text
          = item.text
          input.form-field(type="hidden" name=data.name+"["+item.name+"]" value="")
        - var i = 0
        while i < data.options.length
          - if (data.multiple) {var checked = (item.checked || []).indexOf(data.options[i].value) !== -1; var requiredAttribute = {"data-grouprequired": data.required};} else {var checked = item.checked === data.options[i].value;var requiredAttribute = {"required": data.required};}
          td.matrix-item-option
            input.form-field(type=type name=data.name+"["+item.name+"]"+(data.multiple ? "[]" : "") value=data.options[i].value checked=checked)&attributes(requiredAttribute)
          - i++


mixin form-captcha(data)
  div.g-recaptcha
  noscript
    div(style="width: 302px; height: 482px;")
      div(style="width: 302px; height: 422px;")
        div(style="width: 302px; height: 422px; position: relative;")
          iframe(src="https://www.google.com/recaptcha/api/fallback?k=6LdKnQ8TAAAAAFEvA3kXmpPPp_xPHx6pKJoTc2HT" frameborder="0" scrolling="no" style="width: 302px; height:422px; border-style: none;")
        div(style="width: 300px; height: 60px; border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;")
          textarea(id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;")


mixin form-buttons(data)
  each item in data.items
    - var button = JSON.parse(JSON.stringify(item || [])) // clone the data object
    - button.modifiers = button.modifiers || []
    - if (item.attributes && item.attributes.type === 'submit') {button.modifiers.push("action");}
    +button(button)


mixin form(data)
  .component.component-form(data-thanks=data.thanks class=data.modifiers)
    form(action=data.action method=data.method || 'POST')
      each item in data.items
        - item = JSON.parse(JSON.stringify(item || [])) // clone the data object
        - item.modifiers = item.modifiers || []
        - item.modifiers.push("form-item-" + item.type);
        - if (["email", "tel","citoyenne", "url"].indexOf(item.type) !== -1) {item.modifiers.push("form-item-text");}
        - if (item.required === true) {item.modifiers.push("required"); item.label += " *";}
        - if (item.error === true) {item.modifiers.push("error");}
        .form-item(class=item.modifiers)
          +#{"form-" + item.type}(item)
          if item.help
            p.form-item-help= item.help
