include ../../modules/button/button

mixin form-title(data)
  h2= data.text

mixin form-text(data)
  label.form-item-label(for=data.id)= data.label
  input(type=data.type name=data.name id=data.id placeholder=data.placeholder value=data.value required=data.required)
  if data.help
    p.form-item-help= data.help

mixin form-email(data)
  +form-text(data)

mixin form-tel(data)
  +form-text(data)

mixin form-url(data)
  +form-text(data)

mixin form-select(data)
  label.form-item-label(for=data.id)= data.label
  select(name=data.name id=data.id required=data.required)
    each item in data.items
      option(value=item.value)= item.text

mixin form-textarea(data)
  label.form-item-label(for=data.id)= data.label
  textarea(name=data.name id=data.id placeholder=data.placeholder rows=data.rows required=data.required)
    = data.value

mixin form-checkbox(data)
  .form-item-label= data.label
  each item in data.items
    div: label
      input(type="checkbox" name=data.name value=item.value checked=item.checked required=data.required)
      = item.text

mixin form-radio(data)
  .form-item-label= data.label
  each item in data.items
    div: label
      input(type="radio" name=data.name value=item.value checked=item.checked required=data.required)
      = item.text

mixin form-matrix(data)
  - var type = data.multiple ? 'checkbox' : 'radio';
  table
    tr
      th: .form-item-label= data.label
      each option in data.options
        th.matrix-option= option.text
    each item in data.items
      tr.matrix-item
        th.matrix-item-text= item.text
        - var i = 0
        while i < data.options.length
          td.matrix-item-option
            input(type=type name=data.name+"["+item.name+"]"+(data.multiple ? "[]" : "") value=data.options[i].value)
          - i++

mixin form-captcha(data)
  p CAPTCHA

mixin form-buttons(data)
  each item in data.items
    - button = JSON.parse(JSON.stringify(item || [])) // clone the data object
    - button.modifiers = button.modifiers || []
    - if (item.attributes && item.attributes.type === 'submit') {button.modifiers.push("action");}
    +button(button)

mixin form(data)
  .component-form
    each item in data.items
      - item = JSON.parse(JSON.stringify(item || [])) // clone the data object
      - item.modifiers = item.modifiers || []
      - item.modifiers.push("form-item-" + item.type);
      - if (["email", "tel", "url"].indexOf(item.type) !== -1) {item.modifiers.push("form-item-text");}
      - if (item.required === true) {item.modifiers.push("form-item-required"); item.label += " *";}
      - if (item.error === true) {item.modifiers.push("form-item-error");}
      .form-item(class=item.modifiers)
        +#{"form-" + item.type}(item)
