include pagination
include ../../helpers/code

h2 Standard
.lsg-module
  +pagination(defaults)
+code({language: "jade"}).
  include pagination

  +pagination(#{JSON.stringify(defaults, null, 2)})

h2 Première page
.lsg-module
  +pagination(first)
+code({language: "jade"}).
  include pagination

  +pagination(#{JSON.stringify(first, null, 2)})

h2 Deuxième page
.lsg-module
  +pagination(second)
+code({language: "jade"}).
  include pagination

  +pagination(#{JSON.stringify(second, null, 2)})

h2 Avant-dernière page
.lsg-module
  +pagination(penultimate)
+code({language: "jade"}).
  include pagination

  +pagination(#{JSON.stringify(penultimate, null, 2)})

h2 Dernière page
.lsg-module
  +pagination(last)
+code({language: "jade"}).
  include pagination

  +pagination(#{JSON.stringify(last, null, 2)})
