include ../button/button
include ../search-field/search-field

mixin poll(opts)
  .poll
    .poll-wrapper
      if opts.heading
        .poll-heading
          = opts.heading
      .poll-title(data-thanks=opts.thanks)= opts.title
      if opts.items
        ul.poll-options(class=opts.modifiers)
          each item in opts.items
            li
              - button = JSON.parse(JSON.stringify(item))
              - button.modifiers = ["action", "secondary"]
              - button.attributes = {"data-value": item.value}
              +button(button)
      else if opts.form
        form.poll-form
          input.poll-input(type="text" placeholder=opts.form.input.placeholder title=opts.form.input.placeholder id=opts.form.input.id)
          button.button.action.secondary.poll-submit(type="submit")= opts.form.submit.text
      if opts.more
        .poll-more
          a(href=opts.more.href)= opts.more.text
