include ../button/button
include ../search-field/search-field

mixin poll(opts)
  .poll#particles-js
    if opts.title
      p.poll-title
        = opts.title
    p.poll-heading= opts.heading
    if opts.items
      ul.poll-content-button(class=opts.modifiers)
          each item in opts.items
            li
              - button = JSON.parse(JSON.stringify(item))
              - button.modifiers = ["action", "secondary",]
              +button(button)
    else if opts.poll_label
      .poll-content-label
        input(type="text" placeholder=opts.poll_label.placeholder title=opts.poll_label.placeholder id=opts.poll_label.inputId)
        button.button.action.secondary(type="submit")= opts.poll_label.submit
    a.poll-link(href= opts.link_href)
      =opts.link



