mixin gallery-ugc(data)
  .gallery-ugc
    .gallery-title= data.title + " :"
    each hashtag in data.hashtags
      a.gallery-hashtag(href="#{hashtag.id}" class=hashtag.current ? "current" : "")= hashtag.text
    each hashtag in data.hashtags
      .gallery-content(style="#{hashtag.current ? '' : 'display: none;'}" id="#{hashtag.id}")
        each item in hashtag.items
          - backgroundImage = hashtag.current ? ('background-image: url(' + item.image + ')') : ''
          a(href="#{item.href}" target="_blank" style="#{backgroundImage}" data-background-image="url(#{item.image})").gallery-image
            .overlay
              .gallery-text=item.text

