include ../../modules/block-content/block-content
include ../../modules/button/button

mixin block-content-newsletter(data)
  - modifiers = JSON.parse(JSON.stringify(data.modifiers || [])) // clone the data object
  - modifiers.push("block-content-newsletter")
  +block-content({"title": data.title, "modifiers": modifiers, "attributes": {"data-thanks": data.thanks}})
    p.block-content-text= data.text
    if data.form
      form.block-content-form&attributes(data.form)
        input(type="email" placeholder=data.input.placeholder title=data.input.placeholder id=data.input.id name=data.input.name required=true aria-required="true")
        button.button.action(type="submit" title=data.submit.title)= data.submit.text
    else if data.button
      - button = JSON.parse(JSON.stringify(data.button || [])) // clone the data object
      - button.modifiers = button.modifiers || []
      - button.modifiers.push("action")
      +button(button)
    if data.link
      .block-content-link
        a(href=data.link.href target=data.link.target)= data.link.text
