include ../../modules/block-content/block-content
include ../../modules/button/button

mixin block-content-jecoute(data)
  - var modifiers = JSON.parse(JSON.stringify(data.modifiers || [])) // clone the data object
  - modifiers.push("block-content-jecoute")
  +block-content({"title": data.title, "modifiers": modifiers})
    if data.items && data.items.length
      .block-content-items
        each item in data.items
          .block-content-item
            .block-content-timer
              span.start= item.question.time
              span.end= item.answer.time
              .block-content-bar
                .progress
            .block-content-question-answer
              .block-content-question
                .user= item.question.user
                .text= item.question.text
              .block-content-answer
                .user= item.answer.user
                .text!= item.answer.text
        button.block-content-jecoute-pause(type="button")        
    if data.text
      p.block-content-text= data.text
    - var button = JSON.parse(JSON.stringify(data.button)) // clone the data object
    - button.modifiers = ["action"] // overwrite the modifiers
    .block-content-button
      +button(button)
