include ../../modules/button/button

.search-results-list
  if data.title
    h1!= data.title
  else
    .search-results-list-page: span= data.page
  if data.items.length !== 0
    ul.search-results-list-items
      each item in data.items
        li.search-results-list-item(class=item.modifiers)
          a(href=item.href)
            = item.title
          if item.anchors && item.anchors.length !== 0
            ul.search-results-list-anchors
              each anchor in item.anchors
                li.search-results-list-anchor
                  a(href=anchor.href)= anchor.label
          if item.text
            .search-results-list-text= item.text
    if data.more
      .search-results-list-more
        - more = JSON.parse(JSON.stringify(data.more)) // clone the data object
        - more.modifiers = ["wide"] // overwrite the modifiers
        - more.attributes = {"data-page": more.page}
        +button(more)
