include ../../components/text/text
include ../../components/buttons/buttons

mixin search-results-list(opts)
  .search-results-list
    if opts.items.length === 0
      h1= opts.no_result
    else
      if opts.title
        h1!= opts.title
      else
        .search-results-list-separate-page
          p= opts.page
      if opts.items.length !== 0
        ul.search-results-list-items
          each item in opts.items
            li.search-results-list-item(class=item.modifiers)
              a(href=item.href)
                = item.title
              if item.anchors && item.anchors.length !== 0
                ul.search-results-list-anchors
                  each anchor in item.anchors
                    li.search-results-list-anchor
                      a(href=anchor.href)= anchor.label
              if item.text
                .search-results-list-text= item.text
        .search-results-list-button
          +button({text: "Afficher plus de résultats", modifiers: "wide"})

