mixin social(opts)
  .social(class="#{opts.modifiers}")
    .inner
      h2= opts.text
      each item in opts.items
        .item
          span.icon(class="icon-#{item.icon}")
          span.count= item.count
          a.subscribe(href="#{item.subscribe.url}")= item.subscribe.text
