mixin cross-content(opts)
    each item in opts.items
      a.cross-content(href=item.href class=item.modifiers  style='background-image: url(#{item.background});')
        .cross-content-title= item.title
        if item.icon
            i.cross-content-icon(class=item.icon)
        .cross-content-text= item.text
        

