mixin news-push(data)
  .component.component-news-push
    .news-push-wrapper
      .news-push-after
      - title = [data.title]
      if data.image.credit
        - title.push("(" + data.image.credit + ")")
      a.news-push-image(href=data.href)
        img(src=data.image.src alt=data.image.alt title=title.join(" "))
      .news-push-content
        h3: span= data.title
        p
          a(href=data.href)= data.text
          = " "
          a.next(href=data.href)= data.follow
    a.news-push-link(href=data.link.href)
      span= data.link.text
