include ../../modules/tags/tags

mixin document-heading(data)
  .document-heading
    .document-heading-background(style=data.image && "background-image:url('#{data.image}')")
    .document-heading-wrapper
      .document-heading-content
        .document-heading-content-wrapper
          h1.document-heading-title!= data.text
          if data.icons
            .document-heading-icons
              each item in data.icons
                a.document-heading-icon(href=item.href title=item.label.default target=item.target class=item.modifiers role="button" data-icon-default="icon-#{item.icon.default}" data-icon-hover="icon-#{item.icon.hover}" data-icon-active="icon-#{item.icon.active}")
                  span.icon(class="icon-#{item.icon.default}")
                  span.hidden-accessibly(data-reverse=item.label.off)= item.label.default
          if data.tags
            +tags(data.tags)
