include button
include ../../helpers/code

h2 Standard
.lsg-module
  +button(defaults)
+code({language: "jade"}).
  include button

  +button(#{JSON.stringify(defaults, null, 2)})

h2 Bouton d'action
.lsg-module
  +button(action)
+code({language: "jade"}).
  include button

  +button(#{JSON.stringify(action, null, 2)})

h2 Bouton large
.lsg-module
  +button(wide)
+code({language: "jade"}).
  include button

  +button(#{JSON.stringify(wide, null, 2)})

h2 Bouton secondaire
.lsg-module
  +button(secondary)
+code({language: "jade"}).
  include button

  +button(#{JSON.stringify(secondary, null, 2)})

h2 Bouton avec icône
.lsg-module
  +button(icon)
+code({language: "jade"}).
  include button
  +button(#{JSON.stringify(icon, null, 2)})

h2 Bouton avec marqueur
.lsg-module
  +button(marker)
+code({language: "jade"}).
  include button

  +button(#{JSON.stringify(marker, null, 2)})
