include ../../modules/button/button

mixin jecoute(opts)
  .jecoute
    if opts.items
      div.jecoute-items
        each item in opts.items
          div.jecoute-item
            div.jecoute-timer
              span.start= item.question.time
              span.end= item.answer.time
              div.jecoute-bar
                div.progress
            div.jecoute-question-answer
              div.jecoute-question
                div.user= item.question.user
                div.text= item.question.text
              div.jecoute-answer
                div.user= item.answer.user
                div.text= item.answer.text
    if opts.text
      p.jecoute-text= opts.text
    +button(opts.button)
