mixin newsletter(opts)
  .newsletter
    .newsletter-text= opts.text
    form(action="#")
      input(type="text" placeholder=opts.placeholder title=opts.placeholder id=opts.inputId)
      button.button.action(type="submit")= opts.submit
    a(href="#{opts.otherNewsletters.url}")= opts.otherNewsletters.text
