include ../quick-access/quick-access

mixin header(data)
  .header-wrapper
    header.header
      .layout-wrapper.header-wrapper
        a#logo(href=data.home)
          span Logo
        .entry
          a(href=data.home)
            if data.h1
              h1.title= data.title
            else
              div.title= data.title
          nav.languages
            ul
              each lang in data.languages
                li(class=(lang.abbr === data.active_language) ? 'active' : '')
                  a(href=lang.href)= lang.abbr
      .right
        .icons.item
          if data.search.visible
            span.fixed_display_searchbox.icon-search
          if data.marker.visible
            span.fixed_display_around_me.icon-marker
        nav.item
          each item in data.items
            a(href=item.href class=(item.current ? "current" : ""))= item.text
        .menu.item
          if data.participate.visible
            a.participate(href=data.account.url)
              span.front
                span= data.participate.front
              span.back
                span= data.participate.back
          if data.participate.visible
            a.display-account(href=data.account.url)
              span.icon.icon-profile
              span.label= data.account.text
    if data.quick_access
      - quick_access = JSON.parse(JSON.stringify(data.quick_access)) // clone the data object
      //- - quick_access.modifiers = ["searching", "force-searching"] // overwrite the modifiers
      +quick-access(quick_access)
