mixin footer(data)
  .footer
    .layout-wrapper.footer-wrapper
      a.footer-logo(href=data.logo.href)
        img(src=data.logo.src alt=data.logo.alt)
      ul.footer-links
        each item in data.items
          li(class=item.modifiers)
            a(href=item.href target=item.target)= item.text
