mixin footer(data)
  footer.footer(role="contentinfo")
    .layout-wrapper.footer-wrapper
      a.footer-logo(href=data.logo.href)
        = data.logo.alt
        //- img(src=data.logo.src alt=data.logo.alt)
      ul.footer-links
        each item in data.items
          li(class=item.modifiers)
            a(href=item.href onclick=item.onclick target=item.target lang=item.lang)= item.text
