doctype html
html
  head
    meta(charset='utf-8')
    title #{ title }
    link(href="stylesheets/ish.css" type="text/css" rel="stylesheet")
    link(href="stylesheets/lsg.css" type="text/css" rel="stylesheet")
  body.lsg
    nav.lsg-nav
      a.lsg-nav-toggle ☰
      a.lsg-nav-title(href='.')
        strong Paris
        |  Living Style Guide
      .lsg-nav-content
        h2 Base
        ul
          - for file, index in public.base._data
            li
              a(href="base/#{index}.html")
                = file.title
        h2 Modules
        ul
          - for module in public.modules._data.modules
            li
              a(href="modules/#{module}")
                = module
        h2 Composants rédactionnels
        ul
          - for component in public.components._data.components
            li
              a(href="components/#{component}")
                = component
        h2 Layouts
        ul
          - for layout in public.layouts._data.layouts
            li
              a(href="layouts/#{layout}")
                = layout
        h2 Templates
        ul
          - for template in public.templates._data.templates
            li
              a(href="templates/#{template}")
                = template.replace('.html', '')
    header.sg-header(role='banner')
      #sg-controls.sg-controls
        .sg-control-content
          ul.sg-control
            li.sg-size
              .sg-current-size
                form#sg-form
                  | Size
                  input.sg-input.sg-size-px(type='text', value='320')
                  | px /
                  input.sg-input.sg-size-em(type='text', value='20')
                  | em
              ul.sg-acc-panel.sg-size-options
                li.sg-quarter
                  a#sg-size-s(href='#') S
                li.sg-quarter
                  a#sg-size-m(href='#') M
                li.sg-quarter
                  a#sg-size-l(href='#') L
                li.sg-half
                  a#sg-size-full(href='#') Full
                li.sg-half
                  a#sg-size-hay.mode-link(href='#') Grow
    != yield
    script(src="javascript/jquery-2.1.4.min.js")
    script(src="javascript/lsg.js")
    script(src="javascript/ish.js")
