mixin image(data)
  .component.component-image(class=data.modifiers)
    - title = [data.title]
    - if (data.credit) {title.push("(" + data.credit + ")")}
    - title = title.join(" ")
    if data.srcset
      img(src=data.src srcset=data.srcset.join(", ") alt=data.alt title=title)
    else
      img(src=data.src alt=data.alt title=title)
