mixin image(data)
  .component.component-image(class=data.modifiers)
    - title = [data.title]
    - if (data.credit) {title.push("(" + data.credit + ")")}
    - title = title.join(" ")
    if opts.srcset
      img(src=opts.src srcset=opts.srcset.join(", ") alt=opts.alt title=title)
    else
      img(src=opts.src alt=opts.alt title=title)
