include image
include ../../helpers/code

h2 Petite image
.lsg-component
  +image(defaults)
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(defaults, null, 2)})

h2 Grande image
.lsg-component
  +image(large_image)
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(large_image, null, 2)})

h2 Image verticale
.lsg-component
  +image(vertical_image)
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(vertical_image, null, 2)})

h2 Image flottant à gauche
.lsg-component
  +image(left)
  p Ceci est un paragraphe de remplissage. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(left, null, 2)})

h2 Image flottant à droite
.lsg-component
  +image(right)
  p Ceci est un paragraphe de remplissage. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(right, null, 2)})
