include image
include ../../helpers/code

h2 Formats d'images
p Chaque image doit être redimensionnée automatiquement aux formats suivants :
ul
  li
    strong Petit
    |  avec une largeur max de 400px
  li
    strong Moyen
    |  avec une largeur max de 600px
  li
    strong Grand
    |  avec une largeur max de 800px

h2 Petite image
p Par défaut, l'image est affichée à 100% de la taille du fichier image.
p L'exemple ci-dessous utilise une image de 350x80px.
.lsg-component(style="max-width: 770px")
  +image(defaults)
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(defaults, null, 2)})

h2 Grande image
p Si l'image est plus large que son conteneur, elle est mise à l'échelle.
p L'exemple ci-dessous utilise une image de 1100x400px dans un conteneur d'une largeur de 770px.
.lsg-component(style="max-width: 770px")
  +image(large_image)
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(large_image, null, 2)})

h2 Image verticale
p Les images sont limitées à 400px de haut, pour éviter que les images au format vertical prennent une hauteur trop importante.
p L'exemple ci-dessous utilise une image de 340x478px, qui est donc contrainte à 400px de haut.
.lsg-component(style="max-width: 770px")
  +image(vertical_image)
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(vertical_image, null, 2)})

h2 Image flottant à gauche
p!= "En ajoutant le <em>modifier</em> <code>left</code>, l'image flotte à gauche et est habillée par le texte qui la suit."
.lsg-component(style="max-width: 770px")
  +image(left)
  p Ceci est un paragraphe de remplissage. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(left, null, 2)})

h2 Image flottant à droite
p!= "En ajoutant le <em>modifier</em> <code>right</code>, l'image flotte à droite et est habillée par le texte qui la suit."
.lsg-component(style="max-width: 770px")
  +image(right)
  p Ceci est un paragraphe de remplissage. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(right, null, 2)})
