doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    if data && data.title
      title= data.title + " - Paris.fr"
    else
      title= "Paris.fr"

    if data.opengraph
      each og in data.opengraph
        meta&attributes(og)

    link(href="/stylesheets/print.css" type="text/css" media="print" rel="stylesheet")
    <!--[if !IE]>-->
    link(href="/stylesheets/paris.css" type="text/css" media="screen" rel="stylesheet")
    <!--<![endif]-->

    <!--[if lt IE 9]>
    link(href="/stylesheets/print.css" type="text/css" media="screen" rel="stylesheet")
    <![endif]-->

    script(src="/javascript/modernizr.custom.js")
  - data = data || {}
  - bodyModifiers = data.bodyModifiers || []
  - bodyAttributes = data.bodyAttributes || {}
  body(class=bodyModifiers)&attributes(bodyAttributes)
    if data.notice_old_browsers
      <!--[if lt IE 9]>
      div.notice.notice-browser!= data.notice_old_browsers
      <![endif]-->
    block main
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script
      include ../../assets/javascript/locales.js
    if data.config
      script!= data.config
    script(src="/javascript/paris.js")
    if data.additionalScripts
      each script in data.additionalScripts
        if script.src
          script(src=script.src)
        else if script.inline
          script
            != script.inline
