h1 Paris Living Style Guide
h2= title
.lsg-toc
  .lsg-col
    h3 Base
      b styles généraux
    ul
      - for file, index in public.base._data
        if index != 'index'
          li
            a(href="../base/#{index}.html")
              = file.title
    h3 Modules
      b éléments d'interface réutilisables
    ul
      - for module in public.modules._data.modules
        li
          a(href="../modules/#{module}")
            = module
  .lsg-col
    h3 Composants rédactionnels
      b éléments rédactionnels réutilisables
    ul
      - for component in public.components._data.components
        li
          a(href="../components/#{component}")
            = component
    h3 Layouts
      b mises en page réutilisables
    ul
      - for layout in public.layouts._data.layouts
        li
          a(href="../layouts/#{layout}")
            = layout
    h3 Templates
      b gabarits de pages finalisés
    ul
      - for template in public.templates._data.templates
        li
          a(href="../templates/#{template}")
            = template.replace('.html', '')
