include ../block-aside/block-aside

mixin block-aside-contact(opts)
  - block_modifiers = opts.modifiers || []
  - block_modifiers.push("block-aside-contact")
  +block-aside({"title": opts.title, "modifiers": block_modifiers})
    ul.block-aside-items
      each item in opts.items
        - var modifiers = item.modifiers || []
        - if (item.icon) {modifiers.push("has-icon")}
        if item.title
          li.block-aside-item(class=modifiers)
            if !item.icon
              = item.title + " "
            if item.href
              a(href=item.href class=item.hcard_properties)
                if item.icon
                  i.icon(class="icon-#{item.icon}" title=item.title)
                = item.text
            else
              if item.icon
                i.icon(class="icon-#{item.icon}" title=item.title)
              span(class=item.hcard_properties)
                = item.text
        else
          li.block-aside-item(class=modifiers class=item.hcard_properties)
            if item.href
              a(href=item.href)
                if item.icon
                  i.icon(class="icon-#{item.icon}")
                = item.text
            else
              if item.icon
                i.icon(class="icon-#{item.icon}")
              = item.text
