include ../block-aside/block-aside

mixin block-aside-contact(data)
  - var block_modifiers = data.modifiers || []
  - block_modifiers.push("block-aside-contact")
  +block-aside({"title": data.title, "modifiers": block_modifiers})
    if data.map
      .block-aside-minimap
        if data.map.href
          a(href=data.map.href target=data.map.target title=data.map.title)
            img(src=data.map.src alt=data.map.alt)
        else
          img(src=data.map.src)
    ul.block-aside-items
      each item in data.items
        - var modifiers = item.modifiers || []
        - if (item.icon) {modifiers.push("has-icon")}
        if item.title
          li.block-aside-item(class=modifiers)
            if !item.icon
              = item.title + " "
            if item.href
              a(href=item.href class=item.hcard_properties)
                if item.icon
                  i.icon(class="icon-#{item.icon}" aria-hidden="true")
                  span.hidden-accessibly= item.title + " :"
                = item.text
            else
              if item.icon
                i.icon(class="icon-#{item.icon}" aria-hidden="true")
                span.hidden-accessibly= item.title + " :"
              span(class=item.hcard_properties)
                = item.text
        else
          li.block-aside-item(class=modifiers class=item.hcard_properties)
            if item.href
              a(href=item.href)
                if item.icon
                  i.icon(class="icon-#{item.icon}" aria-hidden="true")
                = item.text
            else
              if item.icon
                i.icon(class="icon-#{item.icon}" aria-hidden="true")
              = item.text
